@charset "UTF-8";
::-webkit-scrollbar {
  width: 0px;
}

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: var(--infoColor) var(--bgSecondary);
    scrollbar-width: thin;
  }
}
@font-face {
  font-family: "Cubano";
  src: url(../fonts/Cubano.ttf);
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  src: url(../fonts/Quicksand.ttf);
  font-display: swap;
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?utnwxf");
  src: url("../fonts/icomoon.eot?utnwxf#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?utnwxf") format("truetype"), url("../fonts/icomoon.woff?utnwxf") format("woff"), url("../fonts/icomoon.svg?utnwxf#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-code:before {
  content: "\e912";
}

.icon-discord:before {
  content: "\e911";
}

.icon-bars:before {
  content: "\e90f";
}

.icon-xmark:before {
  content: "\e910";
}

.icon-heart:before {
  content: "\e90e";
}

.icon-angles-down:before {
  content: "\e90b";
}

.icon-angles-up:before {
  content: "\e90c";
}

.icon-arrow-up-right-from-square:before {
  content: "\e90d";
}

.icon-paper-plane-line:before {
  content: "🌃";
}

.icon-briefcase:before {
  content: "\e900";
}

.icon-download:before {
  content: "\e901";
}

.icon-envelope:before {
  content: "\e902";
}

.icon-github:before {
  content: "\e903";
}

.icon-instagram:before {
  content: "\e904";
}

.icon-linkedin:before {
  content: "\e905";
}

.icon-location-dot:before {
  content: "\e906";
}

.icon-paper-plane:before {
  content: "\e907";
}

.icon-phone:before {
  content: "\e908";
}

.icon-stack-overflow:before {
  content: "\e909";
}

.icon-twitter:before {
  content: "\e90a";
}

:root {
  --bgPrimary: #0e1630;
  --bgSecondary: #182038;
  --primaryColor: #fff;
  --secondaryColor: #9ca9c9;
  --infoColor: #ef4782;
  --infoColor2: #f50a5c;
  --tagJsBg: #f0db50;
  --tagJsColor: #000000;
  --tagFirebaseBg: #ffcb2b;
  --tagFirebaseColor: #12181a;
  --tagCssBg: #f954be;
  --tagCssColor: #2c2b2b;
  --tagGoogleMapBg: #33a668;
  --tagGoogleMapColor: #f8d844;
  --tagDiscordjsBg: #020f08;
  --tagDiscordjsColor: #5865f2;
  --tagHtmlBg: #ff4b18;
  --tagHtmlColor: #12181a;
  --tagHackerrankBg: #00e472;
  --tagHackerrankColor: #000000;
  --tagPrograminghubBg: #1612ec;
  --tagPrograminghubColor: #ffff;
  --tagCppBg: #004ba1;
  --tagCppColor: #ffffff;
  --tagMarkdownBg: rgb(0, 0, 0);
  --tagMarkdownColor: #ffffff;
  --tagGithubactionBg: #167bff;
  --tagGithubactionColor: #141414;
  --tagD3jsBg: #f9a03c;
  --tagD3jsColor: #000000;
  --tagNodejsBg: #2D642B;
  --tagNodejsColor: #ffffff;
  --tagPythonBg: #306998;
  --tagPythonColor: #ffffff;
  --tagTableauBg: #f5b044;
  --tagTableauColor: #000000;
  --tagNextjsBg: #000000;
  --tagNextjsColor: #ffffff;
  --tagReactjsBg: #61dbfb;
  --tagReactjsColor: #000000;
  --tagVueBg: #336B52;
  --tagVueColor: #ffffff;
  --tagJsonBg: #f0db50;
  --tagJsonColor: #000000;
  --tagScssBg: #D78EB7;
  --tagScssColor: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  background: var(--bgPrimary);
  color: var(--secondaryColor);
  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

a {
  color: var(--primaryColor);
  text-decoration: none;
}

li {
  list-style-type: none;
}

.main-container {
  max-width: 1350px;
  margin: 0 auto;
}

.title {
  position: relative;
  margin-left: 50px;
}

.heading {
  position: absolute;
  top: 30px;
  font-size: 1.7rem;
  font-weight: 500;
  color: var(--infoColor);
}

.heading::after {
  content: "";
  position: absolute;
  top: 14px;
  left: -60px;
  width: 50px;
  height: 4px;
  background: var(--infoColor);
  transform-origin: left;
  border-radius: 5px;
}

.btn {
  max-width: 90%;
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  -webkit-transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  font-size: 1.1rem;
  margin-inline-end: 10px;
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  background-color: rgba(25, 34, 58, 0.849);
  border: 1px solid rgba(25, 34, 58, 0.849);
  cursor: pointer;
  user-select: none;
  color: var(--primaryColor);
  font-weight: 600;
}
.btn i {
  margin-inline: 10px;
}

.btn:hover {
  background-color: rgba(32, 41, 65, 0.952);
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.btn:active {
  -webkit-transform: scale(0.98);
  transform: scale(0.98);
}

.tag {
  display: inline-block;
  padding: 0.2em 0.5em 0.3em;
  border-radius: 2px;
  background: #444e56;
  font-weight: 600;
  font-size: 0.9rem;
  margin: 0.25em 0.2em;
}

.tag-js {
  background: var(--tagJsBg);
  color: var(--tagJsColor);
}


.tag-cpp {
  background: var(--tagCppBg);
  color: var(--tagCppColor);
}
.tag-python {
  background: var(--tagPythonBg);
  color: var(--tagPythonColor);
}

.tag-reactjs {
  background: var(--tagReactjsBg);
  color: var(--tagReactjsColor);
}

.tag-nodejs {
  background: var(--tagNodejsBg);
  color: var(--tagNodejsColor);
}

/*NOTE Header */
.scroll-down header {
  transform: translate3d(0, -100%, 0);
}

.scroll-up header {
  filter: drop-shadow(0 -10px 20px rgba(44, 57, 95, 0.5137254902));
  backdrop-filter: blur(8px) saturate(166%);
  -webkit-backdrop-filter: blur(8px) saturate(166%);
  background-color: rgba(29, 47, 77, 0.61);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.menu-is-open {
  overflow: hidden;
}
.menu-is-open header {
  filter: none;
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  z-index: 9999;
  transition: all 300ms ease-in-out;
  font-weight: 600;
  animation: 1s ease-out 0s 1 slideFromTop;
}

header .logo {
  margin-inline: 10px;
  font-size: 1.4rem;
  margin-left: 5%;
}

header .logo span {
  color: var(--infoColor);
}

header .nav-links {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-evenly;
  color: var(--secondaryColor);
}

header nav {
  max-width: 1000px;
  width: 100%;
}

header .nav-links .nav-link a,
.active a {
  color: var(--secondaryColor);
  position: relative;
}

header .nav-links .nav-link a::before,
header .nav-links .nav-link a::after,
.active a::before,
.active a::after {
  transition: all 0.5s;
}

header .nav-links .nav-link,
.active {
  margin-inline-end: 10px;
}

header .nav-links .nav-link a:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  margin: auto;
  width: 0%;
  content: "";
  color: transparent;
  background: var(--infoColor);
  height: 2px;
  border-radius: 2px;
}

header .nav-links .nav-link a:hover::after,
header .nav-links .nav-link a:hover {
  width: 80%;
  color: var(--primaryColor);
}

header .nav-links .active a:after {
  width: 80%;
  color: var(--primaryColor);
}

.menu {
  background: none;
  border: none;
  background-color: none;
  color: var(--primaryColor);
  font-size: 2rem;
  display: none;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1350px;
  margin: 0 auto;
  height: 15vh;
}

.footer-nav .logo {
  margin-inline: 10px;
  font-size: 1.4rem;
}

footer .divider {
  border-bottom: 0.5px solid rgba(156, 169, 201, 0.8078431373);
  max-width: 1300px;
  margin: 0 auto;
}

.footer-nav .logo span {
  color: var(--infoColor);
}

.footer-nav .nav-links {
  width: 50%;
  display: flex;
  justify-content: space-between;
  color: var(--secondaryColor);
}

.footer-nav .nav-links .nav-link a {
  color: var(--secondaryColor);
  position: relative;
}

.footer-nav .nav-links .nav-link a::before,
.footer-nav .nav-links .nav-link a::after {
  transition: all 0.5s;
}

.footer-nav .nav-links .nav-link {
  margin-inline-end: 10px;
}

.footer-nav .nav-links .nav-link a:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: "";
  color: transparent;
  background: var(--infoColor);
  height: 4px;
  border-radius: 2px;
}

.footer-nav .nav-links .nav-link a:hover::after,
.footer-nav .nav-links .nav-link a:hover {
  width: 100%;
  color: var(--primaryColor);
}

footer .footer-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  font-size: 1.1rem;
}
footer .footer-bottom i:nth-child(1) {
  color: var(--infoColor);
  font-size: 1.3rem;
  margin-inline: 5px;
}
footer .footer-bottom i:nth-child(2) {
  color: red;
  font-size: 1.3rem;
  margin-inline: 5px;
}
footer .footer-bottom .heart {
  animation: heartBeat 4s linear infinite;
}
@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.25);
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(1);
  }
  35% {
    transform: scale(1.25);
  }
  50% {
    transform: scale(1);
  }
  55% {
    transform: scale(1.25);
  }
  70% {
    transform: scale(1);
  }
}

.fl-fl {
  background: #20232a;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 4px;
  width: 145px;
  position: fixed;
  right: -105px;
  top: 50px;
  z-index: 1000;
  display: flex;
  align-items: center;
  font: normal normal 10px Arial;
  -webkit-transition: all 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: all 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -ms-transition: all 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: all 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.fa {
  font-size: 20px;
  color: #fff;
  padding: 10px 0;
  width: 40px;
  margin-left: 8px;
}

.fl-fl:hover {
  right: 0;
}

.fl-fl a {
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 43px;
  vertical-align: top;
}

.float-gh {
  top: 160px;
}

.float-dc {
  top: 215px;
}

.float-dc:hover .fa {
  color: #5865F2;
}

.float-li {
  top: 270px;
}

.float-li:hover .fa {
  color: #0e76a8;
}

.float-tw {
  top: 325px;
}

.float-tw:hover .fa {
  color: #00acee;
}

.float-ig {
  top: 380px;
}

.float-ig:hover .fa {
  color: #DD2A7B;
}

.float-so {
  top: 435px;
}

.float-so:hover .fa {
  color: #ef8236;
}

.home-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin: 30px;
  height: 70%;
  width: 90%;
  user-select: none;
  backdrop-filter: blur(6px) saturate(90%);
  -webkit-backdrop-filter: blur(6px) saturate(90%);
  background-color: rgba(24, 32, 56, 0.719);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.intro-wrapper .home-nav {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px 10px 0 0;
  background: rgba(35, 37, 38, 0.8);
  backdrop-filter: blur(24px);
  height: 70px;
  padding-right: 20px;
}
.intro-wrapper .home-left {
  margin-top: 70px;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--primaryColor);
}
.intro-wrapper .home-left .heading {
  font-size: 2rem;
}
.intro-wrapper .home-left .heading::after {
  top: 20px;
}
.intro-wrapper .home-left .overflow {
  overflow: hidden;
}
.intro-wrapper .home-left .overflowY {
  overflow-y: hidden;
}
.intro-wrapper .home-left h2 {
  font-size: 1.8rem;
  animation: drop-in 1.5s ease 600ms backwards;
}
.intro-wrapper .home-left h3 {
  font-size: 1.4rem;
  color: var(--secondaryColor);
  font-weight: 400;
  animation: drop-in 1.7s ease 700ms backwards;
}
@keyframes drop-in {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
  }
}
@keyframes appear {
  from {
    filter: blur(5px);
  }
}
.intro-wrapper .home-left .home-btns {
  display: flex;
  margin-block: 10px;
}
.intro-wrapper .home-left .home-btns .btn:nth-last-child(1) {
  animation: drop-in 1200ms ease 500ms backwards;
}
.intro-wrapper .home-left .home-btns .btn:nth-last-child(2) {
  animation: drop-in 1000ms ease 300ms backwards;
}
.intro-wrapper .home-left .home-btns .btn:nth-child(1) i {
  color: rgb(30, 84, 235);
}
.intro-wrapper .home-left .home-btns .btn:nth-child(2) i {
  color: rgb(15, 226, 156);
}
.intro-wrapper .home-left .heading {
  position: relative;
  top: -10px;
  animation: drop-in 0.8s ease 300ms backwards;
}
.intro-wrapper .home-right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 70px;
  animation: appear 1.5s ease 300ms backwards;
  /* nail */
}
.intro-wrapper .home-right .swing {
  transform-origin: center -20px;
  position: relative;
  float: left;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  width: 90%;
  max-width: 400px;
  transform: rotate(2deg);
}
.intro-wrapper .home-right .swing img {
  border: 5px solid #f8f8f8;
  display: block;
  width: 360px;
  max-width: 100%;
  height: 100%;
}
.intro-wrapper .home-right .swing:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #999;
  top: -10px;
  left: 50%;
  z-index: 0;
  border-bottom: none;
  border-right: none;
  transform: rotate(45deg);
}
.intro-wrapper .home-right .swing:before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  top: -15px;
  left: 52%;
  z-index: 5;
  border-radius: 50%;
  background: rgb(248, 248, 248);
}

.scrollToTopBtn {
  background-color: #182038;
  border: none;
  color: var(--infoColor);
  cursor: pointer;
  font-size: 1.3rem;
  line-height: 48px;
  width: 48px;
  display: none;
  /* place it at the bottom right corner */
  position: fixed;
  bottom: 20px;
  right: 20px;
  /* keep it at the top of everything else */
  z-index: 100;
  animation: up 1.5s infinite;
  -webkit-animation: up 1.5s infinite;
}
@keyframes up {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(-15px);
  }
  40% {
    transform: translate(0);
  }
}
@-webkit-keyframes up {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(-15px);
  }
  40% {
    transform: translate(0);
  }
}

.scroll-down-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 1.3rem;
  animation: down 1.5s infinite;
  -webkit-animation: down 1.5s infinite;
  background-color: #182038;
  border: none;
  color: var(--infoColor);
  cursor: pointer;
  line-height: 48px;
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
@keyframes down {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(15px);
  }
  40% {
    transform: translate(0);
  }
}
@-webkit-keyframes down {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(15px);
  }
  40% {
    transform: translate(0);
  }
}

.about-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.about-container .about-wrapper {
  display: flex;
  align-items: center;
}
.about-container .about-right {
  margin: 40px;
  position: relative;
}
.about-container .about-right .avatar-card img {
  aspect-ratio: attr(width)/attr(height);
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
}
.about-container .about-right::before {
  content: "yes, its me";
  text-transform: capitalize;
  position: absolute;
  left: -60px;
  top: -30px;
}
.about-container .about-right::after {
  content: "";
  position: absolute;
  top: 30px;
  left: -10px;
  width: 70px;
  height: 2px;
  background: #fff;
  transform-origin: right;
  transform: rotate(30deg);
}
.about-container .about-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 50%;
  margin: 50px;
}
.about-container .about-left h3 {
  font-size: 1.6rem;
  color: var(--primaryColor);
  margin-block: 10px;
}
.about-container .about-left p {
  font-size: 1.1rem;
  color: var(--secondaryColor);
  margin-block: 10px;
}
.about-container .about-left .about-btns {
  display: flex;
  flex-wrap: wrap;
}
.about-container .about-left .about-btns .btn {
  margin-block: 10px;
}
.about-container .about-left .about-btns .btn:nth-child(1) i {
  color: rgb(255, 51, 15);
}
.about-container .about-left .about-btns .btn:nth-child(2) i {
  color: rgb(15, 226, 156);
}

.skill-container {
  display: flex;
  flex-direction: column;
}
.skill-container .skill-wrapper { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px;
}
.skill-container .skill-wrapper .skill-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-block: 10px;
}
.skill-container .skill-wrapper .skill-left h3 {
  font-size: 1.6rem;
  color: var(--primaryColor);
  margin-block: 10px;
}
.skill-container .skill-wrapper .skill-left p {
  font-size: 1.1rem;
  color: var(--secondaryColor);
  margin-block: 10px;
}
.skill-container .skill-wrapper .skill-right {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}
.skill-container .skill-wrapper .skill-right .tech-card {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80px;
  height: 80px;
  background: #171f38;
  margin: 8px;
  border-radius: 10px;
  border-bottom: 0 solid var(--infoColor);
  transition: all 0.3s ease-in-out;
  font-size: 3rem;
}
.skill-container .skill-wrapper .skill-right .tech-card img {
  width: 48px;
  height: 48px;
}
.skill-container .skill-wrapper .skill-right .tech-card .toolTip {
  visibility: hidden;
  width: 100%;
  min-width: 100px;
  font-size: 1rem;
  background: #eb4a4a;
  color: var(--primaryColor);
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 60%;
  margin-left: -60px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
  transform: translateY(-20px);
}
.skill-container .skill-wrapper .skill-right .tech-card .toolTip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 30%;
  margin-left: 10px;
  border-width: 10px;
  border-style: solid;
  border-color: #eb4a4a transparent transparent;
}
.skill-container .skill-wrapper .skill-right .tech-card:hover {
  border-bottom: 10px solid var(--infoColor);
}
.skill-container .skill-wrapper .skill-right .tech-card:hover .toolTip {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.contact-container {
  display: flex;
  flex-direction: column;
}
.contact-container .contact-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px;
}
.contact-container .contact-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-block: 10px;
  width: 40%;
}
.contact-container .contact-left h3 {
  font-size: 1.6rem;
  color: var(--primaryColor);
  margin-block: 10px;
}
.contact-container .contact-left p {
  font-size: 1.1rem;
  color: var(--secondaryColor);
  margin-block: 10px;
}
.contact-container .contact-left ul {
  display: flex;
  flex-direction: column;
}
.contact-container .contact-left ul li {
  margin-block: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.contact-container .contact-left ul li i {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3d1724;
  color: var(--infoColor);
  padding: 10px;
  font-size: 1.4rem;
  border-radius: 5px;
  height: 40px;
  width: 40px;
  margin-right: 15px;
}
.contact-container .contact-left ul li a {
  color: var(--secondaryColor);
}
.contact-container .contact-left .social-media {
  display: flex;
  align-items: center;
  width: 70%;
  margin-block: 2em;
  justify-content: space-between;
}
.contact-container .contact-left .social-media i {
  margin-right: 20px;
  font-size: 1.6rem;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 2px solid transparent;
  color: var(--primaryColor);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding: 5px;
  cursor: pointer;
}
.contact-container .contact-left .social-media i:hover {
  border: 2px solid var(--infoColor);
}
.contact-container .contact-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.contact-container .contact-right .form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  max-width: 550px;
}
.contact-container .contact-right .form input {
  width: 100%;
  max-width: 550px;
  height: 65px;
  border-radius: 10px;
  margin-block: 15px;
  padding: 20px;
  background: #171f38;
  font-size: 1.1rem;
  font-weight: 300;
  color: var(--primaryColor);
  transition: all 0.3s ease-in-out;
  border: 2px solid transparent;
}
.contact-container .contact-right .form textarea {
  width: 100%;
  max-width: 550px;
  height: 200px;
  border-radius: 10px;
  margin-block: 15px;
  padding: 20px;
  background: #171f38;
  font-size: 1.1rem;
  font-family: "Roboto", sans-serif;
  color: var(--primaryColor);
  line-height: 1.6;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  border: 2px solid transparent;
}
.contact-container .contact-right .form textarea:focus,
.contact-container .contact-right .form input:focus {
  box-shadow: 0 0 5px 0 rgba(248, 50, 119, 0.8) inset, 0 0 10px 1px rgba(248, 50, 119, 0.8);
  outline: none;
  border: 2px solid #fd3a7f;
}
.contact-container .contact-right .form .btn {
  width: 100%;
  max-width: 140px;
  display: flex;
  align-self: flex-end;
  user-select: none;
  margin: 0;
}
.contact-container .contact-right .form .btn i {
  color: rgb(30, 84, 235);
}

.education-container {
  display: flex;
  flex-direction: column;
}
.education-container .education-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 50px;
}
.education-container .education-wrapper ul.timeline {
  margin: 2.5em 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.education-container .education-wrapper ul.timeline .item-title {
  display: flex;
  align-items: center;
}
.education-container .education-wrapper ul.timeline .item-title .issuer-logo {
  width: 30px;
  height: 30px;
}
.education-container .education-wrapper ul.timeline li {
  list-style: none;
  margin: auto;
  margin-left: 5em;
  min-height: 50px;
  border-left: 1px solid #fff;
  padding: 0 0 50px 30px;
  position: relative;
}
.education-container .education-wrapper .certificate-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.education-container .education-wrapper ul.timeline li::before {
  position: absolute;
  left: -19px;
  top: -10px;
  content: " ";
  border: 8px solid rgb(255, 255, 255);
  border-radius: 500%;
  background: #eb4a4a;
  height: 20px;
  width: 20px;
  transition: all 400ms ease-in-out;
}
.education-container .education-wrapper ul.timeline li:hover::before {
  border-color: var(--bgSecondary);
  transition: all 500ms ease-in-out;
}
.education-container .education-wrapper ul.timeline li .timestamp {
  width: 100%;
}
.education-container .education-wrapper ul.timeline li .timestamp h3 {
  font-size: 1.2rem;
  color: var(--infoColor);
  margin-block: 10px;
}
.education-container .education-wrapper ul.timeline li .timestamp .year {
  display: inline-block;
  margin-block: 10px;
  padding: 10px;
  font-weight: 800;
  background: var(--bgSecondary);
  color: var(--primaryColor);
}
.education-container .education-wrapper .timeline-details {
  margin: 10px;
}
.education-container .education-wrapper .timeline-details p {
  color: var(--primaryColor);
  margin: 5px;
  font-size: 0.9rem;
  display: list-item;
  list-style-type: disc;
}
.education-container .education-wrapper .item-title {
  color: #fff;
}

.education-container .education-wrapper #overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  z-index: 1000;
  background-color: rgba(49, 49, 56, 0.5);
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}
.education-container .education-wrapper #overlay.active {
  opacity: 1;
  pointer-events: all;
}


@media screen and (max-width: 950px) {
  .nav-link:nth-child(7),
  .nav-link:nth-child(8) {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  html {
    font-size: 12px;
  }
  .scroll-down header {
    transform: initial;
  }
  .scroll-up header {
    filter: initial;
    backdrop-filter: initial;
    -webkit-backdrop-filter: initial;
    background-color: initial;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border: initial;
  }
  .menu-is-open {
    overflow: initial;
  }
  .menu-is-open header {
    filter: initial;
  }
  .menu {
    display: flex;
    position: fixed;
    right: 40px;
    top: 25px;
    z-index: 999;
    transition: all 0.2s ease;
  }
  .fl-fl {
    display: none;
  }
  header {
    position: absolute;
  }
  header .nav-links {
    backdrop-filter: blur(4px) saturate(180%);
    -webkit-backdrop-filter: blur(4px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.91);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    position: fixed;
    inset: 0 0 0 30%;
    font-size: 2rem;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 60px;
    transform: translateX(100%);
    transition: transform 350ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  header .nav-links[data-visible=true] {
    transform: translateX(0);
  }
  .footer-nav {
    flex-direction: column;
    justify-content: space-around;
  }
  .footer-nav .nav-links {
    width: 90%;
  }
  .title {
    position: relative;
    margin-left: 80px;
  }
  .heading {
    top: -20px;
  }
  .heading::after {
    content: "";
    position: absolute;
    top: 7px;
    left: -60px;
    width: 50px;
    height: 4px;
    background: var(--infoColor);
    transform-origin: left;
    border-radius: 5px;
  }
  .btn {
    max-width: 90%;
    width: 160px;
    backdrop-filter: none;
    background-color: rgba(24, 32, 56, 0.9);
  }
  .btn i {
    margin-inline: 5px;
  }
  .home-container #scroll-down-animation {
    display: none;
  }
  .intro-wrapper {
    flex-direction: column-reverse;
    height: 80%;
  }
  .intro-wrapper .home-nav {
    background: rgba(35, 37, 38, 0.918);
    background-image: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .intro-wrapper .home-right .swing {
    width: 90%;
    max-width: 300px;
  }
  .intro-wrapper .home-right .swing img {
    aspect-ratio: attr(width)/attr(height);
  }
  .intro-wrapper .home-left {
    margin-left: 0;
    margin-top: 10px;
    align-items: center;
  }
  .intro-wrapper .home-left .home-btns {
    justify-content: center;
    width: 90%;
  }
  .intro-wrapper .home-left .title {
    margin-left: 0;
    margin-top: 10px;
  }
  .intro-wrapper .home-left .heading::after {
    display: none;
  }
  .about-container {
    padding-top: 50px;
  }
  .about-container .about-wrapper {
    flex-direction: column-reverse;
    width: 100%;
  }
  .about-container .about-wrapper .about-left {
    width: 80%;
  }
  .about-container .about-wrapper .about-left .about-btns .btn {
    width: 50%;
    max-width: 140px;
  }
  .about-container .about-wrapper .about-right .avatar-card img {
    width: 300px;
    height: 400px;
    max-width: 100%;
    max-height: 530px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
  }
  .about-container .about-wrapper .about-right::before {
    left: -20px;
    top: -30px;
  }
  .about-container .about-wrapper .about-right::after {
    top: 30px;
    left: 10px;
  }
  .skill-container {
    padding-top: 50px;
  }
  .skill-container .skill-wrapper {
    flex-direction: column;
    margin-top: 10px;
  }
  .skill-container .skill-wrapper .skill-left {
    width: 100%;
    margin-block: 10px;
  }
  .skill-container .skill-wrapper .skill-right {
    justify-content: center;
    width: 90vw;
    margin: 20px;
  }
  .skill-container .skill-wrapper .skill-right .tech-card {
    width: 100%;
    width: 60px;
    height: 60px;
  }
  .skill-container .skill-wrapper .skill-right .tech-card .toolTip {
    visibility: hidden;
    width: 100%;
    min-width: 100px;
    font-size: 1rem;
    background: #eb4a4a;
    color: var(--primaryColor);
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 70%;
    margin-left: -60px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
    transform: translateY(-20px);
  }
  .skill-container .skill-wrapper .skill-right .tech-card .toolTip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 35%;
    margin-left: 7px;
    border-width: 7px;
    border-style: solid;
    border-color: #eb4a4a transparent transparent;
  }
  .skill-container .skill-wrapper .skill-right .tech-card img {
    width: 36px;
    height: 36px;
  }
  .skill-container .skill-wrapper .skill-right .tech-card:hover {
    border-bottom: 5px solid var(--infoColor);
  }
  .skill-container .skill-wrapper .skill-right .tech-card:hover .toolTip {
    visibility: visible;
    opacity: 1;
  }

  .contact-container {
    padding-top: 50px;
  }
  .contact-container .contact-wrapper {
    flex-direction: column;
    margin-top: 10px;
  }
  .contact-container .contact-wrapper .contact-left {
    width: 100%;
    margin-block: 10px;
    align-items: flex-start;
  }
  .contact-container .contact-wrapper .contact-left .social-media i {
    margin-right: 5px;
  }
  .contact-container .contact-wrapper .contact-right {
    width: 100%;
    margin-block: 10px;
  }
  .contact-container .contact-wrapper .contact-right .form {
    align-items: center;
  }
  .contact-container .contact-wrapper .contact-right .form .btn {
    width: 100%;
    max-width: 120px;
    align-self: flex-end;
  }
  
  .education-container {
    padding-top: 50px;
  }
  .education-container .education-wrapper {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
  }
  .education-container .education-wrapper ul.timeline {
    width: 100%;
  }
  .education-container .education-wrapper ul.timeline li {
    margin-left: 50px;
  }
}